
h2
    |This is my article

table(border='1')
    tr
        td Title:
        td
            span
                <%- model.title%>
    tr
        td Description:
        td
            span
                <%- model.description%>
    tr
        td Comments:
        td
            span
            <%- model.comments%>



