h5
    | Comments

table
    tr
        td  Id:
        td
            span
                <%- model.id%>
    tr
        td  Title:
        td
            span
                <%- model.content%>
    tr
        td ArticleId:
        td
            span
                <%- model.articleId%>

