.slide-banner img{
  height:340px;
  width: 100%;
  margin-top: 10px;


}
.slide-banner{
  width: 102%;
}
.dropdown button{

  display: block;
  margin-left: -15px;
  margin-top: 20px;
  width: 93px;
}


.continut-articol h2{
  text-align: center;


}
#form.form-contact{
  float: right;

}
#newsbar{
  width: 188px;
  height: 789px;

  float: right;

}
#home{
  height: 748px;
  width: 1362px;
  margin-left: -15px;
}
#stanga.col-md-1{
  height: 350px;
  background-image:url('../../../../banner/sidebar1.jpg');
  margin-left: -14px;
}

.col-md-2{
  background-image: url('../../../../banner/newsbar.png');
  background-repeat: no-repeat;
  background-size: 123%;
  margin-top:-351px;
}
#collection-container{
  margin-top: -62px;
  float:left;
  background-color: #898989;
 height: auto;
  width: 230px;
}
#newsbar p{
  margin-top:35px;
  margin-left:30px;
  color:#000;

}
#newsbar h2{
  color:#000;
  margin-left:30px;
}
.continut-articol.col-md-10{
  background-image: url('../../../../banner/body.png');
  height:395px;
  background-size: 105%;
}
.col-md-12.col-md-9{
  height: 394px;
}
#newsbar ul{
  color: #000;
  padding-left: 9px;
}
#collection-container a{
  float: right;
  font-size: 20px;

}
#collection-container a:hover{
  color:red;
}
.dropdown-menu{
  min-width: 126px;
  left: -13px;

}
#footer.col-md-12{
  margin-top: -42px;
  background-color: #7cdea7;
  text-align: right;

}
#footer.col-md-12 h2{
  font-size: 10px;
}
.dropdown-menu a{
 height:30px;
  text-align: left;

}
.dropdown-menu li{
  margin-left:-17px;
  text-align: center;

}


