span
    h2  New Articles

.input-group
    input#articleTitle.text.form-control(placeholder="Title" aria-describedby="basic-addon1")
br
.input-group
    input#articleDescription.text.form-control(placeholder="Description" aria-describedby="basic-addon1")
br
.input-group
    textarea#articleComments.text.form-control(placeholder="Comments" aria-describedby="basic-addon1")
br
button#saveButton.btn.btn-danger
    |Save