.col-md-12
	.col-md-1
		.dropdown.btn.btn-primary.dropdown-toggle	Articol1
			.caret
				ul.dropdown-menu
					li	Subarticol1
					li Subarticol2
					li Subarticol3
		.dropdown.btn.btn-primary.dropdown-toggle	Articol2
			.caret
				ul.dropdown-menu
					li	Subarticol1
					li Subarticol2
					li Subarticol3
		.dropdown.btn.btn-primary.dropdown-toggle	Articol3
			.caret
				ul.dropdown-menu
					li	Subarticol1
					li Subarticol2
					li Subarticol3
	.col-md-9
		.slide-banner
			img(src="./banner/banner2.jpg")
	.col-md-2
		#newsbar
			p
				h2 News
.continut-articol.col-md-8.col-md-offset-2
	p
		h2	Pagina Principala

	#collection-container

#form.form-contact
	form
		table
			tr
				td
					b    Nume:
				td
					input(type="text" name="nume" maxlength="50" size="30" placeholder="Nume")
			tr
				td
					b Prenume:
				td
					input(type="text" name="prenume" maxlength="50" size="30" placeholder="Prenume")
			tr
				td
					b  E-mail:
				td
					input(type="text" name="E-mail" maxlength="50" size="30" placeholder="E-mail")
			tr
				td
					b   Mesaj:
				td
					textarea(name="mesaj" maxlength="1000" cols="31" rows="6")






